# Getting and Knowing Data

In [ ]:
import pandas as pd
import numpy as np

# Step1: Import Dataset

In [25]:
df = pd.read_csv("medals.csv") #Đọc file
df.head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Dataset Overview

In [26]:
df.shape #Lấy kích thước gồm 2311 hàng 8 cột

(2311, 8)

In [27]:
df.info() #Trả về thông tin các cột

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [30]:
# In các tên của các cột
df.columns
list(df.columns)

['Year',
 'City',
 'Sport',
 'Discipline',
 'NOC',
 'Event',
 'Event gender',
 'Medal']

In [31]:
df.index

RangeIndex(start=0, stop=2311, step=1)

In [34]:
df.describe()  #Lấy các thông tin về các cột nhung chỉ dưới dạng số
df.describe(include ="all") #Lấy toàn bộ thông tin về các cột

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
count,2311.000000,2311,2311,2311,2311,2311,2311,2311
unique,NaN,17,7,15,45,67,3,3
top,NaN,Turin,Skiing,Speed skating,NOR,individual,M,Gold
freq,NaN,252,1060,455,280,195,1386,774
mean,1980.361748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,22.089091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1924.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1968.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1988.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1998.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2006.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# loc and iloc

In [50]:
df.loc[df.Year == 1924] #Lọc những hàng có Year = 1924

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
21,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
23,1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze
24,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze
25,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
26,1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze
27,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
28,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
29,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
31,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver
32,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Bronze
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
34,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Silver
35,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
37,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Silver
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
39,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
42,1924,Chamonix,Skating,Figure skating,SUI,individual,M,Bronze
43,1924,Chamonix,Curling,Curling,SWE,curling,M,Silver
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze

In [52]:
# Hàm loc có tối đa 2 điều kiện lọc
df.loc[(df.Year == 1924)|(df.Sport =="Skiing")] #Sử dụng điều kiện or lọc 1 trong 2 cái

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [53]:
df.loc[(df.Year == 1924)&(df.Sport =="Skiing")] #Sử dụng điều kiện and lọc 2 cái

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
31,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver
32,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Bronze
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
34,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Silver
35,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
37,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Silver
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
39,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze

In [56]:
df.loc[(df.Year == 1924)&(df.Sport =="Skiing"),['Year','City','NOC']] #Sử dụng điều kiện and lọc 2 cáiChỉ muốn xem một số cột nhất định

    Year      City  NOC
15  1924  Chamonix  FIN
30  1924  Chamonix  NOR
31  1924  Chamonix  NOR
32  1924  Chamonix  NOR
33  1924  Chamonix  NOR
34  1924  Chamonix  NOR
35  1924  Chamonix  NOR
36  1924  Chamonix  NOR
37  1924  Chamonix  NOR
38  1924  Chamonix  NOR
39  1924  Chamonix  NOR
48  1924  Chamonix  USA

In [59]:
df.loc[(df.Year > 2000)&(df.Sport =="Skiing"),['Year','City','NOC']]

      Year            City  NOC
1826  2002  Salt Lake City  AUS
1830  2002  Salt Lake City  AUT
1831  2002  Salt Lake City  AUT
1832  2002  Salt Lake City  AUT
1833  2002  Salt Lake City  AUT
...    ...             ...  ...
2306  2006           Turin  USA
2307  2006           Turin  USA
2308  2006           Turin  USA
2309  2006           Turin  USA
2310  2006           Turin  USA

[222 rows x 3 columns]

In [63]:
df.iloc[9] #Xem toàn bộ thông tin của hàng số 10
type(df.iloc[9]) #Xem kiểu dữ liệu cảu hàm trả về Series

pandas.core.series.Series

In [64]:
df.iloc[[9]] #Trả về kiểu dữ liệu DataFrame

   Year      City    Sport     Discipline  NOC  Event Event gender Medal
9  1924  Chamonix  Skating  Speed skating  FIN  1500m            M  Gold

In [66]:
df.iloc[3:11] #upto 11 thôi là tới 10

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold

In [68]:
x = df.iloc[3:5,:-1 ]
y = df.iloc[3:5, -1 ]
print(y)

3    Bronze
4      Gold
Name: Medal, dtype: object

# Data Manipulation

In [73]:
df.Medal.dtype #Xem kiểu dữ liệu cột Medal '0' --> Kiểu dữ liệu python Object

dtype('O')

# Apply

In [76]:
df.Event.apply(lambda x : x.replace('m','')) #Tách chữ m ra khỏi dữ liệu cột Event và thay bằng empty

0            individual
1            individual
2                 pairs
3               four-an
4            ice hockey
             ...
2306          Half-pipe
2307          Half-pipe
2308          Half-pipe
2309    Snowboard Cross
2310    Snowboard Cross
Name: Event, Length: 2311, dtype: object

In [80]:
#Thay đổi kiểu dữ liệu thì dùng --> float(...)
#Khi xem lại toàn bộ dữ liệuta thấy không thay đổi
df.head()
#Để thay đổi dữ liệu luôn ta dùng
df.Event = df.Event.apply(lambda x : x.replace('m',''))

In [81]:
df.head() # Chữ m đã đc bỏ ở cột Event

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-an,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [85]:
#Tạo Column mới 
df["Đeo huy chuong"] = df["Medal"]
df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal,Đeo huy chuong
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-an,M,Bronze,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold,Gold

# Tính tổng toàn bộ các hàng của cột Dataframe

In [87]:
revenue = df["Year"].sum() # TÍn tổng năm thôi chứ chịu
print(revenue)

4576616

# Groupby

In [89]:
df.groupby("Sport").apply(print) #Quan sát thây lệnh đã Group lại tất cả các Sport có cùng tên

      Year          City     Sport Discipline  NOC            Event  \
5     1924      Chamonix  Biathlon   Biathlon  FIN   ilitary patrol
16    1924      Chamonix  Biathlon   Biathlon  FRA   ilitary patrol
40    1924      Chamonix  Biathlon   Biathlon  SUI   ilitary patrol
408   1960  Squaw Valley  Biathlon   Biathlon  FIN              20k
432   1960  Squaw Valley  Biathlon   Biathlon  SWE              20k
...    ...           ...       ...        ...  ...              ...
2236  2006         Turin  Biathlon   Biathlon  RUS       4x6k relay
2237  2006         Turin  Biathlon   Biathlon  RUS     4x7.5k relay
2270  2006         Turin  Biathlon   Biathlon  SWE  12.5k ass start
2271  2006         Turin  Biathlon   Biathlon  SWE             7.5k
2284  2006         Turin  Biathlon   Biathlon  UKR             7.5k

     Event gender   Medal Đeo huy chuong
5               M  Silver         Silver
16              M  Bronze         Bronze
40              M    Gold           Gold
408             M  Silver         Silver
432             M    Gold           Gold
...           ...     ...            ...
2236            W    Gold           Gold
2237            M  Silver         Silver
2270            W    Gold           Gold
2271            W  Silver         Silver
2284            W  Bronze         Bronze

[162 rows x 9 columns]
      Year        City      Sport Discipline  NOC       Event Event gender  \
3     1924    Chamonix  Bobsleigh  Bobsleigh  BEL     four-an            M
19    1924    Chamonix  Bobsleigh  Bobsleigh  GBR     four-an            M
41    1924    Chamonix  Bobsleigh  Bobsleigh  SUI     four-an            M
60    1928  St. Moritz  Bobsleigh   Skeleton  GBR  individual            M
61    1928  St. Moritz  Bobsleigh  Bobsleigh  GER     five-an            M
...    ...         ...        ...        ...  ...         ...          ...
2255  2006       Turin  Bobsleigh  Bobsleigh  SUI     four-an            M
2256  2006       Turin  Bobsleigh  Bobsleigh  SUI      two-an            M
2257  2006       Turin  Bobsleigh   Skeleton  SUI  individual            M
2258  2006       Turin  Bobsleigh   Skeleton  SUI  individual            W
2286  2006       Turin  Bobsleigh  Bobsleigh  USA      two-an            W

       Medal Đeo huy chuong
3     Bronze         Bronze
19    Silver         Silver
41      Gold           Gold
60    Bronze         Bronze
61    Bronze         Bronze
...      ...            ...
2255  Bronze         Bronze
2256  Bronze         Bronze
2257  Bronze         Bronze
2258    Gold           Gold
2286  Silver         Silver

[133 rows x 9 columns]
      Year            City    Sport Discipline  NOC    Event Event gender  \
17    1924        Chamonix  Curling    Curling  FRA  curling            M
20    1924        Chamonix  Curling    Curling  GBR  curling            M
43    1924        Chamonix  Curling    Curling  SWE  curling            M
1643  1998          Nagano  Curling    Curling  CAN  curling            M
1644  1998          Nagano  Curling    Curling  CAN  curling            W
1668  1998          Nagano  Curling    Curling  DEN  curling            W
1763  1998          Nagano  Curling    Curling  NOR  curling            M
1802  1998          Nagano  Curling    Curling  SUI  curling            M
1808  1998          Nagano  Curling    Curling  SWE  curling            W
1848  2002  Salt Lake City  Curling    Curling  CAN  curling            M
1849  2002  Salt Lake City  Curling    Curling  CAN  curling            W
1902  2002  Salt Lake City  Curling    Curling  GBR  curling            W
1972  2002  Salt Lake City  Curling    Curling  NOR  curling            M
2010  2002  Salt Lake City  Curling    Curling  SUI  curling            M
2011  2002  Salt Lake City  Curling    Curling  SUI  curling            W
2090  2006           Turin  Curling    Curling  CAN  curling            M
2091  2006           Turin  Curling    Curling  CAN  curling            W
2131  2006           Turin  Curling    Curling  FIN  curling            M
2259  2006           Turin  Curling    Curling  SUI  curling            W
2272  2006           Turin  Curling    Curling  SWE  curling            W
2287  2006           Turin  Curling    Curling  USA  curling            M

       Medal Đeo huy chuong
17    Bronze         Bronze
20      Gold           Gold
43    Silver         Silver
1643  Silver         Silver
1644    Gold           Gold
1668  Silver         Silver
1763  Bronze         Bronze
1802    Gold           Gold
1808  Bronze         Bronze
1848  Silver         Silver
1849  Bronze         Bronze
1902    Gold           Gold
1972    Gold           Gold
2010  Bronze         Bronze
2011  Silver         Silver
2090    Gold           Gold
2091  Bronze         Bronze
2131  Silver         Silver
2259  Silver         Silver
2272    Gold           Gold
2287  Bronze         Bronze
      Year        City       Sport  Discipline  NOC       Event Event gender  \
4     1924    Chamonix  Ice Hockey  Ice Hockey  CAN  ice hockey            M
21    1924    Chamonix  Ice Hockey  Ice Hockey  GBR  ice hockey            M
45    1924    Chamonix  Ice Hockey  Ice Hockey  USA  ice hockey            M
54    1928  St. Moritz  Ice Hockey  Ice Hockey  CAN  ice hockey            M
77    1928  St. Moritz  Ice Hockey  Ice Hockey  SUI  ice hockey            M
...    ...         ...         ...         ...  ...         ...          ...
2124  2006       Turin  Ice Hockey  Ice Hockey  CZE  ice hockey            M
2132  2006       Turin  Ice Hockey  Ice Hockey  FIN  ice hockey            M
2273  2006       Turin  Ice Hockey  Ice Hockey  SWE  ice hockey            M
2274  2006       Turin  Ice Hockey  Ice Hockey  SWE  ice hockey            W
2288  2006       Turin  Ice Hockey  Ice Hockey  USA  ice hockey            W

       Medal Đeo huy chuong
4       Gold           Gold
21    Bronze         Bronze
45    Silver         Silver
54      Gold           Gold
77    Bronze         Bronze
...      ...            ...
2124  Bronze         Bronze
2132  Silver         Silver
2273    Gold           Gold
2274  Silver         Silver
2288  Bronze         Bronze

[69 rows x 9 columns]
      Year       City Sport Discipline  NOC    Event Event gender   Medal  \
472   1964  Innsbruck  Luge       Luge  AUT  doubles            X    Gold
473   1964  Innsbruck  Luge       Luge  AUT  doubles            X  Silver
474   1964  Innsbruck  Luge       Luge  AUT  singles            W  Bronze
486   1964  Innsbruck  Luge       Luge  EUA  singles            M  Bronze
487   1964  Innsbruck  Luge       Luge  EUA  singles            M    Gold
...    ...        ...   ...        ...  ...      ...          ...     ...
2167  2006      Turin  Luge       Luge  GER  singles            W  Silver
2180  2006      Turin  Luge       Luge  ITA  doubles            X  Bronze
2181  2006      Turin  Luge       Luge  ITA  singles            M    Gold
2202  2006      Turin  Luge       Luge  LAT  singles            M  Bronze
2239  2006      Turin  Luge       Luge  RUS  singles            M  Silver

     Đeo huy chuong
472            Gold
473          Silver
474          Bronze
486          Bronze
487            Gold
...             ...
2167         Silver
2180         Bronze
2181           Gold
2202         Bronze
2239         Silver

[108 rows x 9 columns]
      Year      City    Sport      Discipline  NOC       Event Event gender  \
0     1924  Chamonix  Skating  Figure skating  AUT  individual            M
1     1924  Chamonix  Skating  Figure skating  AUT  individual            W
2     1924  Chamonix  Skating  Figure skating  AUT       pairs            X
6     1924  Chamonix  Skating  Figure skating  FIN       pairs            X
7     1924  Chamonix  Skating   Speed skating  FIN       10000            M
...    ...       ...      ...             ...  ...         ...          ...
2296  2006     Turin  Skating   Speed skating  USA        1000            M
2297  2006     Turin  Skating   Speed skating  USA        1500            M
2298  2006     Turin  Skating   Speed skating  USA        1500            M
2299  2006     Turin  Skating   Speed skating  USA        5000            M
2300  2006     Turin  Skating   Speed skating  USA         500            M

       Medal Đeo huy chuong
0     Silver         Silver
1       Gold           Gold
2       Gold           Gold
6     Silver         Silver
7       Gold           Gold
...      ...            ...
2296  Silver         Silver
2297  Bronze         Bronze
2298  Silver         Silver
2299    Gold           Gold
2300    Gold           Gold

[758 rows x 9 columns]
      Year      City   Sport       Discipline  NOC            Event  \
15    1924  Chamonix  Skiing  Cross Country S  FIN              18k
30    1924  Chamonix  Skiing  Cross Country S  NOR              18k
31    1924  Chamonix  Skiing  Cross Country S  NOR              18k
32    1924  Chamonix  Skiing  Cross Country S  NOR              50k
33    1924  Chamonix  Skiing  Cross Country S  NOR              50k
...    ...       ...     ...              ...  ...              ...
2306  2006     Turin  Skiing        Snowboard  USA        Half-pipe
2307  2006     Turin  Skiing        Snowboard  USA        Half-pipe
2308  2006     Turin  Skiing        Snowboard  USA        Half-pipe
2309  2006     Turin  Skiing        Snowboard  USA  Snowboard Cross
2310  2006     Turin  Skiing        Snowboard  USA  Snowboard Cross

     Event gender   Medal Đeo huy chuong
15              M  Bronze         Bronze
30              M    Gold           Gold
31              M  Silver         Silver
32              M  Bronze         Bronze
33              M    Gold           Gold
...           ...     ...            ...
2306            M  Silver         Silver
2307            W    Gold           Gold
2308            W  Silver         Silver
2309            M    Gold           Gold
2310            W  Silver         Silver

[1060 rows x 9 columns]

Empty DataFrame
Columns: []
Index: []

In [94]:
c = df.groupby("Sport")["Year"].sum() 
print(c)

Sport
Biathlon       322548
Bobsleigh      262542
Curling         41808
Ice Hockey     136098
Luge           214416
Skating       1498996
Skiing        2100208
Name: Year, dtype: int64

In [95]:
c.sort_values() #Sắp xếp theo các thứ tự tăng dần

Sport
Curling         41808
Ice Hockey     136098
Luge           214416
Bobsleigh      262542
Biathlon       322548
Skating       1498996
Skiing        2100208
Name: Year, dtype: int64

In [96]:
c.sort_values(ascending = False) #Sắp xếp theo các thứ tự tăng dần

Sport
Skiing        2100208
Skating       1498996
Biathlon       322548
Bobsleigh      262542
Luge           214416
Ice Hockey     136098
Curling         41808
Name: Year, dtype: int64

In [102]:
#unique values
df.Sport.value_counts() #Tính xem môn thể thao này có bao nhiêu người chơi

Skiing        1060
Skating        758
Biathlon       162
Bobsleigh      133
Luge           108
Ice Hockey      69
Curling         21
Name: Sport, dtype: int64

In [105]:
df.Sport.value_counts().count() #Tính tổng các môn thể thao

7

In [108]:
list[df.Sport]

list[0          Skating
1          Skating
2          Skating
3        Bobsleigh
4       Ice Hockey
           ...
2306        Skiing
2307        Skiing
2308        Skiing
2309        Skiing
2310        Skiing
Name: Sport, Length: 2311, dtype: object]

In [109]:
df.Sport.unique() #Lấy giá trị độc nhất - Không trùng nhau

array(['Skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon', 'Skiing',
       'Curling', 'Luge'], dtype=object)